*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;    
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
}

.wrapper {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid lightskyblue;
    background-color: turquoise;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: lightgreen;
    color: white;
}
.btn.wrong {
    background-color: red;
    color: white;
}

.start-btn, .next-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.score {
    font-size: 22px;
    font-weight: 700;
}

.total {
    font-size: 30px;
    text-align: center;
}